* {
    box-sizing: border-box;
}

body {
    font-family: 'Averia Sans Libre', cursive;
    color: #333;
    line-height: 1.5em;
    background-color: #EDF4E1;
}

main {
    width: 1100px;
    height: 700px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

    border: #27622F 10px solid;
    border-radius: 6px;
}

h1 {
    margin: 0;

    font-family: 'Rubik Bubbles', cursive;
    color: #27622F;
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.1em;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0;
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    margin: 0;
}

button { 
    /* margin: auto; */
    padding: 10px;
    background-color: #27622F;
    color: #FFEED6;
    border-radius: 6px;
    font-size: 1.5em;
    text-transform: uppercase;
}


a {
    padding: 5px 15px;
    color: #4B3E42;
    font-size: 1.5em;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}

/* .fadeIn {
    animation-name: fadeIn;
    animation-delay: 0.5s;
    animation-duration: 300ms;
    animation-fill-mode: forwards;

    transition: all 200ms ease;
} */

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

.close:hover {
    cursor: pointer;
}

#openRules {
    text-align: center;
}

#container {
    margin-left: auto;
    margin-right: auto;
}

#rulesOverlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#rulesOverlay article {
    box-sizing: border-box;
    background-color: white;
    padding: 40px;
    width: 650px;
    height: 500px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 6px;
    font-size: 1.2em;
}

#rulesOverlay h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

#gamecontrol {
    /* height: 60px; */
    position: relative;
    text-align: center;

}

#gamecontrol #startgame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

#gamecontrol #quit {
    position: absolute;
    top: -50px;
    right: 0;

    margin-right: 30px;
    padding: 5px;
    background-color: #4B3E42;
    color: #FFEED6;
    border-radius: 6px;
}

#game {
    margin-bottom: 0;
    height: 230px;

}

#plants{
    background-image: url(images/ground.png); 
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
}

#score {
    height: 165px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #4B3E42;
    color: #FFEED6;
    text-align: center;
}

#score h2 {
    color: #EDAA43;
    font-size: 2em;
}

#score p {
    margin: 30px;
    font-size: 2em;
}

#score, #score1, #score2 {
    font-size: 1.5em;
    text-transform: uppercase;
}


#actions {
    height: 100px;
   
    padding: 20px 0;
    background-color: #4B3E42;
    display: flex;
    align-content: center;
    justify-content:center;
}

#actions button {
    margin: 0px 10px;
}

#actions p{
    margin: 0;
    color: #cae0e7;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    
}

#actions #pass {
    background-color: #EDAA43;
    color: #4B3E42;
}
