body{
    font-family: Archivo, sans-serif;
}
main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: blue;
}

h2 {
    color: blue;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: 48%;
    padding: 0 10px 0 0;
}

img {
    max-height: 500px;

}

/* p {
    display: flex;
    flex: 1;
} */