*{box-sizing: border-box;}
body {
    font-family: Fraunces, serif;
    color: #0400B7;
    background-color: #0400B7;
    padding: auto;
}

header {
    max-width: 1100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px 0 50px;
    background-color: #FFF8F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main {
    max-width: 1100px;
    margin: auto;
}

h1 {
    margin: 0;
    font-size: 3em;
}

section {
    max-width: 1100px;
    max-height: 700px;
    /* margin: auto; */
    padding: 30px 50px 50px 50px;
    background-color: #FFF8F8;
    font-size: 1.2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 20px; */
}

label {
    padding-bottom: 4px;
}

label, input {
    display: block;

}

input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #FA8334;
    width: 100%;

} 

input[type="text"] {
    margin-bottom: 30px;

}

input[type="color"] {
    min-width: 250px;
    height: 80%;
    margin-top: 20px;
    padding: 10px;
    border-bottom: none;
    border: 3px solid #FA8334;
    border-radius: 10px;
}

input[type="submit"] {
    width: 250px;
    margin-left: auto;
    /* margin-right: auto; */
    padding: 10px;
    background-color: #0400B7;
    border: none;
    border-radius: 10px;
    color: #FFF8F8;
    
}


fieldset input, fieldset label {
    display: inline;
}

fieldset label {
    margin-bottom: 20px;
}

article {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 50px 20px 20px;
    font-size: 1.4em;
    line-height: 2em;
}

.showing {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

#output{
    background-color: #FFF8F8;
}

form #myForm{
    width: 70%;
    /* padding-right: 20px; */
} 

form #colorDay{
    padding: 3px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;

}

#submit {
    flex: 100%;
}



#output {
    position: absolute;
}

#line {
    display: inline-block;
    width: 200px;
    border-bottom: 5px solid #0400B7 ;
}


#container {
    display: flex;
    flex-shrink: unset;
}


#image img {
    /* flex: 1; */
    max-height: 600px;
    /* max-width: 100%; */
    background-color: white;
    border-radius: 10px;
    border: 3px solid #0400B7;
}





