* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    color: black;
    background-color: #91B993;
}

main {
    display: flex;
    position: relative;
}

section {
    background-color: #91B993;
}

article {
    height: 750px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    /* position: relative; */
}

h1 {
    margin: 0;
    font-family: 'Chango', cursive;
    font-size: 3.5em;
    line-height: 1.5em;
    text-shadow: 3px 5px #E5C5F9;
    text-transform: uppercase;
    color: #4C191B;
}

h2 {
    margin-bottom: 0;
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 2em;
}


p {
    font-size: 1.4em;
    line-height: 1.4em;
    font-family: 'Lora', serif;
    font-weight: 500;

}

figure {
    display: block;
    margin: 0;
    min-width: 730px;
    /* max-width: 1000px; */
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;

    /* background-image: url(images/illustration.svg);
    background-color: #E5C5F9; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover; 
    background-position: top right;
    resize: none;

}


#left {
    min-width: 430px;
    max-width: 500px;
    position: absolute;
    z-index: 1;
}

#right {
    /* max-width: 700px; */
    position: absolute;
    z-index: 2;

}

#title {
    font-size: 4em;
}


#illustration {
    position: relative;
}

#face {
    position: relative;
    height: 1100px;
    top: -80px;
    left: 100px;
    z-index: 2;
}

#shirtColor {
    position: absolute;
    z-index: 1;
    top: 550px;
    right: 100px;
    /* bottom: calc(0-100%); */
}

#earringContainer{
    position: relative;
    z-index: 3;
}

#earringContainer img {
    transition: all 3s ease;

    position: absolute;
}

#earringLeft {
    top: -840px;
    left: 160px;
}


#earringRight {
    top: -815px;
    left: 515px;
}

.toBottom {
    margin-top: 50px;
}

.designerText {
    margin-top: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.4em;
}

.crossed{
    text-decoration: line-through 3px #E5C5F9;
}

.highlight {
    text-decoration: underline 3px #E5C5F9;
}


.fadeIn {
    animation-name: fadein;
    animation-duration: 1s;

}

.fadeOut {
    animation-name: fadeout;
    animation-duration: 1s;

}

.shirtIn {
    animation-name: fadein;
    animation-duration: 1s;
}

.shirtOut {
    animation-name: fadeout;
    animation-duration: 1s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



